<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #254117;">
  <div class="container-fluid">
    <!-- Logo de l'Église -->
    <a class="navbar-brand" href="#"><img src="/assets/images/logoCV.jpg" class="logo-img"></a>
    <!-- Bouton pour le menu mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Liens du menu -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active" aria-current="page">ACCUEIL</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">NOTRE HISTOIRE</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/mot-du-pasteur">MOT DU PASTEUR</a></li>
            <li><a class="dropdown-item" routerLink="/conseil-des-diacres">CONSEIL DES DIACRES</a></li>
            <li><a class="dropdown-item" routerLink="/conseil-des-administrateurs">CONSEIL DES ADMINISTRATEURS</a></li>
            <li><a class="dropdown-item" routerLink="/ecodim">L'ECODIM</a></li>
            <li><a class="dropdown-item" routerLink="/chapelle-de-la-vie">LA CHAPELLE DE LA VIE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">SERMONS</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Audio</a></li>
            <li><a class="dropdown-item" href="#">Vidéo</a></li>
          </ul>
        </li>
        <!-- Ajout de la section "Événements à venir" dans le menu -->
        <li class="nav-item">
          <a class="nav-link" href="#">CANTIQUES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACTUALITÉS</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
      <!-- Bouton de connexion -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link btn btn-outline">SE CONNECTER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
