/* Styles CSS personnalisés pour la barre de navigation */
.logo-img {
  width: 70px; /* Ajustez la taille selon vos préférences */
  height: 70px; /* Ajustez la taille selon vos préférences */
  border-radius: 50%; /* Pour créer un cercle */
  object-fit: cover; /* Pour s'assurer que l'image remplit correctement le cercle */
}

/* Styles pour le bouton de recherche */
.form-control {
  width: 200px; /* Ajustez la largeur selon vos préférences */
}

/* Styles pour le bouton de connexion */
.nav-link.btn {
  color: #ffffff; /* Couleur du texte du bouton de connexion */
  background-color: transparent; /* Arrière-plan transparent */
  border-color: #ffffff; /* Couleur de la bordure du bouton */
}

.nav-link.btn:hover {
  background-color: #ffffff; /* Couleur de fond au survol */
  color: #254117; /* Couleur du texte au survol */
}

/* Styles pour la barre de navigation principale */
.navbar {
  background-color: #254117; /* Couleur de fond de la barre de navigation */
}

.navbar .navbar-nav .nav-link {
  color: #ffffff; /* Couleur du texte des liens du menu */
  font-weight: bold; /* Police en gras pour les liens du menu */
}

.navbar .navbar-nav .nav-link:hover {
  color: #1F6530; /* Couleur du texte au survol des liens du menu */
}

/* Styles pour le formulaire de recherche */
.navbar .navbar-collapse form {
  margin-right: 20px; /* Marge à droite du formulaire de recherche */
}

/* Styles pour le bouton de recherche */
.navbar .navbar-collapse .btn-outline-success {
  color: #ffffff; /* Couleur du texte du bouton de recherche */
  border-color: #ffffff; /* Couleur de la bordure du bouton de recherche */
}

.navbar .navbar-collapse .btn-outline-success:hover {
  background-color: #ffffff; /* Couleur de fond au survol du bouton de recherche */
  color: #254117; /* Couleur du texte au survol du bouton de recherche */
}
/* Styles pour le menu déroulant */
.dropdown-menu {
  background-color: #254117; /* Couleur de fond du menu déroulant */
  border: none; /* Supprimer la bordure du menu déroulant */
  margin-top: 0; /* Supprimer la marge supérieure du menu déroulant */
}

/* Styles pour les éléments du menu déroulant */
.dropdown-item {
  color: #ffffff; /* Couleur du texte des éléments du menu déroulant */
  font-weight: bold; /* Police en gras pour les éléments du menu déroulant */
}

.dropdown-item:hover {
  background-color: #1F6530; /* Couleur de fond au survol des éléments du menu déroulant */
  color: #ffffff; /* Couleur du texte au survol des éléments du menu déroulant */
}

/* Styles pour les éléments du menu principal au survol */
.navbar-nav .nav-item.dropdown:hover .nav-link {
  color: #1F6530; /* Couleur du texte au survol de l'élément du menu principal */
}
