<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicateurs de diapositives -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Diapositive 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Diapositive 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Diapositive 3"></button>
  </div>
  <!-- Contenu des diapositives -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/imageAcceuil/pexels-mart-production-7219517.jpg" alt="" class="img-fluid img-center">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>La Parole de Dieu</h1>
          <p>Ta parole est une lampe à mes pieds, et une lumière sur mon sentier. - Psaume 119:105</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/imageAcceuil/pexels-cottonbro-studio-4918108.jpg" alt="Informations sur les réunions" class="img-fluid img-center">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Entendre et Suivre</h1>
          <p>Mes brebis entendent ma voix et me suivent. - Jean 10:27</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/imageAcceuil/pexels2.jpg" alt="Image 3" class="img-fluid img-center">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Crois Seulement</h1>
          <p>Tout est possible à celui qui croit.- Marc 9:23</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Contrôles du carrousel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>

