<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>la chapelle de la Vie - Accueil</title>
  <!-- Feuilles de style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0@bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <!-- Barre de navigation -->
  <app-header></app-header>
</header>
<main>
  <!-- Carrousel d'images -->
  <app-carousel></app-carousel>
  <!-- Section Horaires des réunions et des services -->
  <app-schedule></app-schedule>
  <!-- Affichage fes données dans le template (accueil.component.html) -->
  <app-acceuil> </app-acceuil>
</main>
<!--footer present car il serait inchageable et visible dans toute les pages-->
<footer class="container mt-5">
  <div class="row">
    <!-- Section d'adresse et de contact -->
    <div class="col-md-4">
      <h5 class="section-heading">Adresse</h5>
      <p>Adjame Paillet 3, Abidjan, Côte d'Ivoire</p>
      <p>Abidjan, 225</p>
      <p>Côte d'Ivoire</p>
      <br>
      <h5 class="section-heading">Contact</h5>
      <p>Téléphone : +225 0747308307</p>
      <p>Email : contact@chapelledelavie.com</p>
    </div>
    <div class="col-md-4">
      <h5 class="section-heading">Suivez-nous</h5>
      <div class="social-media-icons">
        <a href="#"><img src="../assets/images/fb.png" alt="Facebook" class="icon"></a>
        <a href="#"><img src="../assets/images/insta.png" alt="Instagram" class="icon"></a>
        <a href="#"><img src="../assets/images/yt.png" alt="YouTube" class="icon"></a>
        <a href="#"><img src="../assets/images/tic.png" alt="YouTube" class="icon"></a>
      </div>
    </div>
    <!-- Section de formulaire de contact -->
    <div class="col-md-4">
      <h5 class="section-heading">Contactez-nous</h5>
      <form class="row g-3">
        <div class="col-12">
          <label for="inputName" class="form-label">Nom</label>
          <input type="text" class="form-control" id="inputName" required>
        </div>
        <div class="col-12">
          <label for="inputEmail" class="form-label">Adresse e-mail</label>
          <input type="email" class="form-control" id="inputEmail" required>
        </div>
        <div class="col-12">
          <label for="inputMessage" class="form-label">Message</label>
          <textarea class="form-control" id="inputMessage" rows="4" required></textarea>
        </div>
        <div class="col-12">
          <!-- Bouton d'envoi du formulaire avec la couleur spécifique -->
          <button type="submit" class="btn btn-success btn-block" style="background-color: #254117; color: #ffffff;">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Ligne de séparation -->
  <hr class="featurette-divider">
  <!-- Mentions légales -->
  <p class="text-center">
    &copy; 2023 La Chapelle de la Vie. Tous droits réservés. <br>
    <a href="#" style="text-decoration: none; color: #254117;">Politique de confidentialité</a> &middot; <a href="#" style="text-decoration: none; color: #254117;">Conditions d'utilisation</a>
  </p></footer>
<!-- Scripts JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0@bootstrap.bundle.min.js"></script>
</body>
</html>
