<div class="container mt-5">
  <div class="row">
        <!-- Calendrier à gauche -->
        <div class="col-md-6">
          <div class="schedule">
            <h2 class="section-heading">Horaires des réunions et des services</h2>
            <p class="section-content">Venez nous rejoindre pour les réunions et les services qui se tiennent chaque semaine. Vous trouverez ci-dessous les horaires de nos réunions hebdomadaires.</p>
            <table class="table table-bordered">
            <thead>
            <tr>
              <th>Jour</th>
              <th>Heure</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Dimanche</td>
              <td>8h30 - 12h</td>
            </tr>
            <tr>
              <td>Mercredi</td>
              <td>18h30 - 20h</td>
            </tr>
            <tr>
              <td>Vendredi</td>
              <td>18h30 - 20h</td>
            </tr>
            <!-- Ajoutez d'autres horaires ici -->
            </tbody>
        </table>
      </div>
    </div>
    <!-- Vidéo centrée et encadrée à droite -->
      <div class="col-md-6">
        <div class="video-frame">
          <object data="https://www.youtube.com/v/qARZE41iZyQ" class="img-fluid rounded video">
            <param name="movie" value="https://www.youtube.com/live/bblYaVtsd1M?si=0QOGNjP0OTLPep9k">
            <param name="allowFullScreen" value="true">
            <param name="allowscriptaccess" value="always">
            <!-- Fournir une alternative pour les navigateurs qui ne supportent pas la balise <object> -->
            Votre navigateur ne supporte pas la vidéo.
          </object>
        </div>
      </div>
  </div>
</div>
