<div class="container mt-5">
  <div class="row">
        <!-- Calendrier à gauche -->
        <div class="col-md-6">
          <div class="schedule">
            <h2 class="section-heading">Horaires des réunions et des services</h2>
            <p class="section-content">Venez nous rejoindre pour les réunions et les services qui se tiennent chaque semaine. Vous trouverez ci-dessous les horaires de nos réunions hebdomadaires.</p>
            <table class="table table-bordered">
            <thead>
            <tr>
              <th>Jour</th>
              <th>Heure</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Dimanche</td>
              <td>8h30 - 12h</td>
            </tr>
            <tr>
              <td>Mercredi</td>
              <td>18h30 - 20h</td>
            </tr>
            <tr>
              <td>Vendredi</td>
              <td>18h30 - 20h</td>
            </tr>
            <!-- Ajoutez d'autres horaires ici -->
            </tbody>
        </table>
      </div>
    </div>
    <!-- Vidéo centrée et encadrée à droite -->
    <div class="col-md-6">
      <div class="video-frame">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/K653oka-uNo?si=iHFQQoP3eN_-e50B"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
